.pagination-cnt {
  margin: 1rem 0;

  .page-slctr {
    float: left;
    background-color: #fff;
    color: #007bff;
    padding: 0.5rem 0.75rem;

    border-radius: 0.25rem;
  }
}

.pagination {
  .page-item {
    cursor: pointer;
  }

  float: right;
}
