tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;

  td {
    word-wrap: break-word;
    i {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 600px) {
  .main-table {
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;

      td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
      }

      td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }

      td:last-child {
        border-bottom: 0;
      }
    }
  }
}
