tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
  min-height: 50px;

  td {
    word-wrap: break-word;
    min-height: 36px;

    i {
      cursor: pointer;
      color: #212529;
    }

    .delete-btn {
      color: #d43346;
    }

    .settings-item {
      margin: 0 5px;
      padding: 4px;
    }
  }
}

@media screen and (max-width: 800px) {
  .main-table {
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;

      td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
        overflow-wrap: break-word;

        span {
          max-width: 250px;
        }
      }

      td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 5rem;
      }

      td:last-child {
        border-bottom: 0;
      }
    }
  }
}
