.header-container {
  width: 100vw;
  height: 64px;
  background: #d43346;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .header-title {
    margin-left: 64px;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
