.form-container {
  height: 101%;
  font-size: 62.5%;
  font-family: 'Trebuchet MS', Arial, Tahoma, sans-serif;
  color: #333;
  background: #fff;
  padding-top: 10px;

  a {
    color: #4681da;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  h2 {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #363636;
    font-family: 'Droid Serif', Georgia, serif;
    font-size: 2.6em;
    line-height: 1.8em;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 12px 0;
    text-align: center;
  }

  h3 {
    letter-spacing: -0.04em;
    font-weight: bold;
    font-size: 1.44em;
    margin-bottom: 10px;
  }

  span.chyron {
    font-size: 1.2em;
    padding-top: 10px;
  }

  /** main blocks **/
  #container {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 66px;
    padding: 20px 15px;
    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
  }

  /** the form elements **/
  #main-form {
    box-sizing: border-box;
  }

  #main-form .txtinput {
    display: block;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    margin-bottom: 20px;
    font-size: 1.55em;
    padding: 11px 25px;
    width: 90%;
    color: #777;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s,
      color 0.15s linear 0s;
  }

  #main-form .txtinput:focus {
    color: #333;
    border-color: rgba(41, 92, 161, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset,
      0 0 8px rgba(41, 92, 161, 0.6);
    outline: 0 none;
  }

  #main-form input#name {
    background: #fff;
  }
  #main-form input#email {
    background: #fff;
  }
  #main-form input#website {
    background: #fff;
  }
  #main-form input#telephone {
    background: #fff;
  }

  #main-form textarea {
    display: block;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    margin-bottom: 15px;
    font-size: 1.5em;
    padding: 11px 25px;
    width: 90%;
    height: 180px;
    color: #777;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s;
  }
  #main-form textarea:focus {
    color: #333;
    border-color: rgba(41, 92, 161, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset,
      0 0 8px rgba(40, 90, 160, 0.6);
    outline: 0 none;
  }
  #main-form textarea.txtblock {
    background: #fff;
  }

  #main-form #slider {
    width: 60%;
  }

  #main-form #aligned {
    box-sizing: border-box;
    float: left;
    width: 450px;
    margin-right: 50px;
  }
  #main-form #aside {
    float: left;
    text-align: left;
    width: 250px;
    padding: 0;
    box-sizing: border-box;
  }

  #prioritycase {
    margin-top: 3rem;
  }

  #wrapping {
    width: 100%;
    box-sizing: border-box;
  }

  span.radiobadge {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0;
  }
  span.radiobadge label {
    display: block;
    font-size: 1.4em;
    margin: 0;
    margin-left: 0.5rem;
  }

  select.selmenu {
    font-size: 17px;
    color: #676767;
    padding: 9px !important;
    border: 1px solid #aaa;
    width: 200px;
  }

  /** custom buttons **/

  #buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    width: 405px;
  }
  #buttons #resetbtn {
    display: block;
    width: 120px;
    color: #515151;
    text-shadow: -1px 1px 0px #fff;
    margin-right: 20px;
    height: 3em;
    padding: 0 1em;
    outline: 0;
    font-weight: bold;
    font-size: 1.3em;
    white-space: nowrap;
    word-wrap: normal;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #969696;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    transition: 0.8s;
  }

  #buttons #resetbtn:hover,
  #buttons #resetbtn:active {
    box-shadow: 0px 2px 23px 0px rgba(0, 0, 0, 0.75);
    color: #818181;
    background-color: #fff;

    border-color: #aeaeae;
  }

  #buttons #submitbtn {
    display: block;
    height: 3em;
    width: 10rem;
    padding: 0 1em;
    border: 1px solid;
    outline: 0;
    font-weight: bold;
    font-size: 1.3em;
    color: #000;
    white-space: nowrap;
    word-wrap: normal;
    cursor: pointer;
    transition: 0.8s;
  }
  #buttons #submitbtn:hover,
  #buttons #submitbtn:active {
    border-color: #000;
    box-shadow: 0px 2px 23px 0px rgba(0, 0, 0, 0.75);
  }

  /** @group clearfix **/
  .clearfix:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .clearfix {
    display: inline-block;
  }

  html[xmlns] .clearfix {
    display: block;
  }
  * html .clearfix {
    height: 1%;
  }
}

/** all devices and responsive browser windows **/
@media screen and (max-width: 800px) {
  .form-container {
    padding: 10px 15px;

    #container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    #main-form #aligned {
      width: 100%;
      float: none;
      display: block;
    }
    #main-form #aside {
      width: 100%;
      display: block;
      float: left;
    }
    #main-form .txtinput,
    #main-form textarea {
      width: 85%;
    }
    #prioritycase {
      margin-top: 3rem;
      float: left;
      display: block;
    }
    #recipientcase {
      float: left;
      display: block;
      margin-right: 55px;
    }
  }
}

/* smaller screen dropoff *******/
@media only screen and (max-width: 550px) {
  .form-container {
    #main-form .txtinput,
    #main-form textarea {
      width: 80%;
    }
  }
}

/* iPhone Landscape ********/
@media only screen and (max-width: 480px) {
  .form-container {
    padding: 10px 0px;

    h2 {
      width: 80%;
      margin: 0 auto 25px;
    }

    #main-form #aligned {
      width: 280px;
    }

    #buttons {
      width: 280px;
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      #resetbtn {
        margin-top: 1rem;
        width: 10rem;
      }
    }
  }
  select.selmenu {
    width: 190px;
  }
}

/* iPhone portrait *******/
@media only screen and (max-width: 320px) {
  .form-container {
    padding: 10px 0px;
  }
  #main-form .txtinput,
  #main-form textarea {
    width: 60%;
  }
  #main-form #aligned {
    overflow: hidden;
  }
  select.selmenu {
    width: 160px;
  }
  #recipientcase {
    margin-right: 30px;
  }
}
