.search-container {
  width: 250px;
  height: 48px;
  border-bottom: solid 2px #000;
}

.search-input {
  padding: 6px;
  width: 215px;
  height: 100%;
  border: solid 1px white;
  margin-right: 6px;
}
